[submodule "KOSCOM"]
	path = KOSCOM
	url = https://github.com/DUKKIKIM/KOSCOM
[submodule "lib/diff-match-patch-cpp-stl"]
	path = lib/diff-match-patch-cpp-stl
	url = https://github.com/DUKKIKIM/diff-match-patch-cpp-stl.git